header{
    background :#fff;
    background-size: cover;
    min-height: 80vh;
    position: relative;

        #particles-js{
            height: 80vh;
            position: relative;
        }

        // Particles.js canvas
        canvas{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
        @media screen and (max-width: 415px){
            header{
                min-height: 60vh !important;
            }
        }
        
        @media screen and (max-width: 441px){
            header{
                min-height: 60vh !important;
            }
        }
        
        
}

